



$color1:rgb(223, 17, 17);
$color2:rgb(81, 122, 235);
$color3:rgb(78, 83, 87);
$color4:rgb(93, 53, 7);
$color5:rgb(110,120,180);
$color6:rgb(248, 182, 152);
$color7:rgb(7, 7, 7);
$color8:rgb(110,190,180);
$color9:rgb(235, 243, 123);
$color10:rgb(140,170,40);
$color11:white;
$color12:rgb(2, 44, 38);
$color13:rgb(13, 33, 35);
$color14:cadetblue;
$color15:rgb(211, 86, 28);
$color16:rgb(135, 2, 2);
$color17:rgb(156, 52, 14);
$color18:rgb(166, 85, 48);


// BOOTSTRAP
$primary:$color3;
$font-family-sans-serif:"Poor";
$navbar-nav-link-padding-x: "1rem";
$navbar-light-color: $color11;
$navbar-light-hover-color: $color6;         
$navbar-light-active-color: $color4;      
$navbar-dark-icon-color: $color4;  
$navbar-light-font-weight:600;       
// $navbar-light-icon-color:           
// $navbar-light-toggler-icon-bg:      
// $navbar-light-toggler-border-color: 
// $navbar-light-brand-color:          
// $navbar-light-brand-hover-color:
$focus-ring-color:brown-opacity-40; 