@use "../../../src/styles/variables" as v;

.event-card {
    background-color: cadetblue;
    height: 100% !important;
    cursor: pointer;
    h2{
        font-size: 1.5rem;
        color: brown;
    }
    .card-title {
        color: rgb(140, 35, 35);
        margin-top: 30px;
    }


     .card-subtitle{
         display: flex;
         justify-content: space-between;
         align-items: center;
         color: brown;
         margin-top:10px ;
         

     }


    img {
         padding: 10px;

        &:hover {
            transform: scale(1.3);
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            -o-transform: scale(1.3);
        }
    }

    .custom-button {
        background-color: rgb(156, 52, 14);
        border-color: rgb(166, 85, 48);
        color: bisque;
  
        &:hover {
            background-color: rgb(211, 86, 28);
            border-color: rgb(135, 2, 2);
        }
    }

     .card-body{
         display: flex;
         flex-direction: column;
         justify-content: space-between;

      }

    .image{
        overflow: hidden;
        img{
            transition: transform 0.5s;
            -webkit-transition: transform 0.5s;
            -moz-transition: transform 0.5s;
            -ms-transition: transform 0.5s;
            -o-transition: transform 0.5s;
            &:hover{
                transform: scale(1.3);
                -webkit-transform: scale(1.3);
                -moz-transform: scale(1.3);
                -ms-transform: scale(1.3);
                -o-transform: scale(1.3);
            }
        }
    }

}
