@use "../../../styles/variables" as v;


.kutuphaneKoleksiyonlari{
    background-color:rgb(13, 33, 35,1);
    padding-top: 100px;
    padding-bottom: 100px;
}

h2{
    text-align: center;
    color: bisque;
    margin-bottom: 3rem;

}