@use "../../styles/variables" as v;

.page-header{
    background-color : brown; 
    color: bisque;
    text-align: center;
    padding: 50px 0;
    font-family: 'Poppins', sans-serif;

    h1{
        font-weight: 700;
        font-size: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;

        &::before{
            content: '-';
            display: block;
            width: 100px;
            height: 1px;
            background-color: bisque;
            margin: 20px auto;
        
        }

        &::after{
            content: '-';
            display: block;
            width: 100px;
            height: 1px;
            background-color: bisque;
            margin: 20px auto;
        }
    }
}