@use "../../styles/variables" as v;

.contact-form {
  h2 {
    color: brown; 
    margin-bottom: 50px;
  }

  .form-control,
  .input-group-text {
    border: 0;
    border-bottom: 1px solid rgb(198, 107, 107); 
    background: none;
    color: brown; 

  .form-control::placeholder {
    color: rgb(198, 107, 107);
  }
}
}